/*Title: site.css
Author: Kayla McDanel
Date: 27 May 2022
Description: global stylesheet*/

/*Styling for container*/
#container  {
    margin: 50px 100px 0px 100px;
}

/*Styling for icon link and cursor*/
#icon-mode:hover{
    cursor: pointer;
}

#icon-text  {
    padding-left: 10px;
}

/*Styling for toggle*/
.pull-right {
    float: right;
}

/*Recycled Styling from Web 231*/
.app-header {
    background-color: inherit;
    color: inherit;
    border: none;
    font-weight: 400;
    text-align: center;
}

.return-home    {
    color:#4f3674;
    text-decoration: none;
}

.return-home:hover   {
    background-color: #D6A800;
    color: #4f3674;
}

.return-home:visited    {
    color: #3c275a;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}


.full-width {
    width: 100%;
}

/*Global classes*/
/*Page container*/
.assign-container {
    padding: 10px;
}

/*Content div*/
.assign-content {
    width: 600px;
    margin: 3% auto 0;
}

/*Results div*/
.assign-results-text {
    text-align: center;
    font-size: 28px;
}