<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kayla McDanel's Portfolio</title>

    <link rel="stylesheet" href="..../theme.css">
    <link rel="stylesheet" href="../public/styles/portfolio.css">

<!--Linked Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500;700&family=PT+Sans:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet"> 
</head>

<body>
<div class="wrapper">

    <div class="one">
        <h1>who am i?</h1>
    </div>

    <div class="two"><h2>
        <a href ="../views/index.html">home.</a><br>
        <a href ="../views/about.html">about.</a><br>
        <a href ="../views/resume.html">résumé.</a><br>
        <a href ="../views/projects.html">projects.</a><br>
        <a href ="../views/database.html">database<br>diagrams.</a><br>
        <a href ="../views/api.html">api unit tests.</a><br>
        <a href ="../views/bucket.html">bucket list.</a><br> 
    </h2></div>

    <div class="three"><p>
        <img src="../public/images/cookie.jpg" alt="Girl eating large cookie" width="240" class="left">
        My name is Kayla McDanel. I'm not from 'round here but I'm learning as fast
        as I can. I'm on the older side of being a millennial. You know, the kind with a good work ethic, patience, 
        and the ability to entertain oneself without technology but does understand it quite well. 
        <img src="../public/images/cookie2.jpg" alt="Girl holding large cookie" width="240" class="left">
        I enjoy food, music, and being near
        water unless I'm in an airplane. My dog is the best dog, but other dogs are pretty cool.
        <br><br>
        My soft skills include knowing how to relay information in a way people understand, a hefty dose of common sense, 
        an innate capacity for curiosity and learning, a love for languages of all kinds, and the occasion lapse in brain 
        function to keep me humble.
    </p>
</div>

    <div class="five"><img src="../public/images/kmo.jpg" atl="Girl kneeling by horse" width="450">

    </div>
</div>

<footer>
    <a href="https://github.com/sowdapop?tab=repositories">My GitHub</a>
    <a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs/">BU WebDev Program</a>
    McDanel &copy; 2022
    <a href="https://www.youtube.com/c/bellevueuniversity">BU YouTube</a>
    <a href="https://github.com/buwebdev/web-330">BU Web300 GitHub</a>
</footer>
</body>
</html>