<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kayla McDanel's Portfolio</title>

    <link rel="stylesheet" href="..../theme.css">
    <link rel="stylesheet" href="../public/styles/portfolio.css">

<!--Linked Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500;700&family=PT+Sans:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet"> 
</head>

<body>
    
<div class="wrapper">

    <div class="one">
        <h1>hire me.</h1>
    </div>

    <div class="two"><h2>
        <a href ="../views/index.html">home.</a><br>
        <a href ="../views/about.html">about.</a><br>
        <a href ="../views/resume.html">résumé.</a><br>
        <a href ="../views/projects.html">projects.</a><br>
        <a href ="../views/database.html">database<br>diagrams.</a><br>
        <a href ="../views/api.html">api unit tests.</a><br>
        <a href ="../views/bucket.html">bucket list.</a><br> 
    </h2></div>

<div class="three"><h3>Kayla McDanel<br>ks.mcdanel@gmail.com<br>Canton, Georgia<br>
    <a href="../public/docs/ksmcv.pdf" download="mcdanelresume">Download resume as a pdf.</a>
    </h3>
    <div class="side-by-side">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Productive Skills</div><br>
                <ul>
                    <li>Adobe Creative Cloud</li>
                    <li>Microsoft Office</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                    <li>Express</li>
                </ul>
            </div>
        </div>
    
    <div class="card">
        <div class="card-content">
            <div class="card-title">Admirable Skills</div><br>
                <ul>
                    <li>Good Communicator</li>
                    <li>Flexible</li>
                    <li>Problem Solver</li>
                    <li>Organized</li>
                    <li>Team Player</li>
                    <li>Logical</li>
                    <li>Adaptable</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="card-title">Work Experience</div>
            <p>Accounting Assistant<br>
            Roche's Flooring Inc.<br>
            Sept. 2021 - Present<br>
            <ul>
                <li>Initially collected payments from customers totaling $150,000 in unpaid, past due invoices.</li>
                <li>Maintain 8-10 customer accounts by creating invoices and collecting payments via Quickbooks.</li>
                <li>Run weekly payroll for 5 employees and 6-10 independent contractors through ADP and Quickbooks.</li>
                <li>Set up and maintained expense tracking through use of SAP Concur.</li>
                <li>Created a file system from scratch for projects, contractor information, and billing.</li>
            </ul>

                Assistant Manager<br>
                Tractor Supply Co.<br>
                Jan. 2019 - Sept. 2021<br>
                <ul>
                    <li>Maintained top sales performance and increased yearly profits from $8mil to $9mil.</li>
                    <li>Trained team members on policies, selling techniques, customer service, and store operations.</li>
                    <li>Used critical thinking and negotiation to resolve problems and improve upon company processes.</li>
                    <li>Accepted deliveries, researched discrepancies, controlled inventory, oversaw e-commerce processes and compliance.</li>
                    <li>Provided legendary customer service to each customer with whom I crossed paths.</li>
                </ul>
        
        </div>
    </div>

    <div class="side-by-side">
    <div class="card">
        <div class="card-content">
            <div class="card-title">Education</div>
            <b>Bellevue University</b>     2021-Present<br>
            Bachelor of Science - Web Development<br><br>
            <b>Independence University</b>     2020-2021<br>
            Bachelor of Science - Web Design & Development<br><br>
            <b>The Art Institute of Atlanta</b>     2008-2010<br>
            Bachelor of Fine Arts - Illustration & Design<br>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="card-title"> Extra Curricular</div>
            <b>Graphic Design Internship</b>    Southern With Grace <br>
            Cartersville, GA    November 2021 - January 2022<br>
            <ul>
                <li>Helped maintain the company's Shopify website.</li>
                <li>Observed the lead graphic designer creating new designs.</li>
                <li>Operated the UV printers for mass production of designs on ceramic, canvas, and wood surfaces.</li>
            </ul>
        </div>
    </div>
    </div>
</div>

</div>


<footer>
    <a href="https://github.com/sowdapop?tab=repositories">My GitHub</a>
    <a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs/">BU WebDev Program</a>
    McDanel &copy; 2022
    <a href="https://www.youtube.com/c/bellevueuniversity">BU YouTube</a>
    <a href="https://github.com/buwebdev/web-330">BU Web300 GitHub</a>
</footer>
</body>
</html>