/*
Title: future-value.css
Author: Kayla McDanel
Date: 7/3/22
Description: Project's css file.
*/

.danger {
    float: right;
    color: #df546A;
    font-size: 12px;
    letter-spacing: 2px;
}

.form-label {
    display: inline-block;
    padding-top: 1rem;
}